@font-face {
  font-family: 'MiSans-Normal';
  src: url('./assets/MiSans-Normal.ttf');
}

#root {
  height: 100vh;
}

/**
 * common style
 */
body {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
div {
  box-sizing: border-box;
}

/**
 * common class
 */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
